<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Title</title>
    <meta charset="UTF-8" />
    <link href="Default.css" rel="stylesheet" />
    <link href="iconfont.css" rel="stylesheet" />
    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="ccbpm.css" rel="stylesheet" type="text/css" />


</head>
<body  style="background-image:url('ShuiYin.png');background-attachment:fixed; padding:0px;  margin:0px;" >
    <div align="center" style="padding:0px;  margin:0px; vertical-align:top;" >
     @Docs
     </div>

   <div>

   </div>

    <div  style=" float:right;">
<img src='QR.png'  /> 
    </div>
</body>

</html>
